.LayoutNav
  display flex
  align-items center
  border-bottom 1px solid $gray-color
  box-sizing border-box

  &_theme-dark
    border-bottom 1px solid alpha($black-color, 90%)
    background-color $black-color

  &__item
    &_first
      margin-left auto

  &__toggle
    margin rem(10) rem(15)
