.LayoutNav
  display flex
  align-items center
  border-bottom 1px solid $gray-color
  height 70px
  box-sizing border-box

  &__item
    &_first
      margin-left auto

  &__toggle
    margin rem(10) rem(15)
    display none
    +mobile()
      display inline-block