.DefaultTabBar
  display flex
  flex-wrap wrap
  position relative
  margin-bottom rem(15)

  &__item
    padding rem(7) rem(15)
    cursor pointer
    box-sizing border-box

    &_active
      color $primary-color
      transition color 250ms ease-in-out
      cursor auto

  &__line
    position absolute
    bottom -1px
    left 0
    height 2px
    background-color $primary-color
    transition left 250ms ease-in-out, width 250ms ease-in-out, opacity 250ms ease-in-out
