:local
    .input
        background $white-color
        border-radius: $default-border-radius
        border: 1px solid $gray-color
        padding .5rem
        transition $duration background

    .disabled
        background $gray-color