:local
    .colors_decorator
        display flex
        flex-wrap wrap

    .color_decorator
        width 200px
        height 200px
        margin 20px
        display flex
        align-content center
        justify-content center
        flex-direction column
        text-align center
        font-weight bold
        color #fff
        border: 1px solid #ccc;
        border-radius: 4px;

    .color_decorator_info
        line-height 1.5
        padding 1rem
        background rgba(0, 0, 0, 0.15)
