.fc
  .fc-button
    padding rem(10) rem(20)
    display inline-block
    border-radius $default-border-radius
    cursor pointer
    transition $duration all ease
    outline none
    box-sizing border-box
    border none
    background-color $primary-color !important
    box-shadow none !important
