.fc
  > *
    font-size 12px

  .fc-today
    background-color $gray-color !important

  .fc-button
    display inline-block
    border-radius 3px
    cursor pointer
    transition $duration all ease
    outline none
    box-sizing border-box
    border none
    background-color $primary-color !important
    box-shadow none !important

  .FullCalendar__active-date
    &.fc-day
      background-color $success-color !important

    &.fc-day-top
      color $white-color
      border-color: transparent !important
      background transparent !important