{
    "plugins": [
        "transform-class-properties",
        [
            "transform-object-rest-spread",
            {
                "useBuiltIns": true
            }
        ]
    ],
    "presets": [
        "react",
        "env"
    ],
    "env": {
        "development": {},
        "production": {}
    }
}
