{
    "plugins": [
        "transform-class-properties",
        [
            "transform-object-rest-spread",
            {
                "useBuiltIns": true
            }
        ],
        [
            "babel-plugin-react-docgen",
            {
                "DOC_GEN_COLLECTION_NAME": "STORYBOOK_REACT_CLASSES",
                "resolver": "findAllExportedComponentDefinitions"
            }
        ]
    ],
    "presets": [
        "env",
        "flow",
        "react"
    ],
    "env": {
        "development": {},
        "production": {}
    }
}
