.LayoutSidebar
  width 70px
  position relative
  overflow hidden
  border-right 1px solid $gray-color
  transition 200ms width ease, transform 200ms ease
  background-image url("../../../assets/images/sidenav.jpg")
  background-size cover
  box-sizing border-box
  flex-shrink 0

  &_mobile
    position absolute
    top 0
    left 0
    height 100vh
    width 250px
    max-width 100%
    z-index 1
    transform translateX(-100%)

    &^[0]_open
      transform translateX(0%)
      border-right none
      box-shadow 0 0 3px alpha($black-color, .3)

  &_open
    width 250px

  &_theme-dark
    border-right 1px solid alpha($black-color, 90%)
    background-color alpha($black-color, 5%)

    &^[0]_open
      &^[0]_mobile
        box-shadow 0 0 3px alpha($black-color, 80%) !important

    & ^[0]__content
      background-color alpha($black-color, .9)

  &__content
    width 250px
    background-color alpha($white-color, .9)
    height 100%
    overflow auto
