.LayoutSidebar
  width 70px
  position relative
  overflow hidden
  border-right 1px solid $gray-color
  transition 200ms width ease, transform 200ms ease
  background-color $white-color
  background-image url("../../../assets/images/sidenav.jpg")
  background-size cover
  box-sizing border-box
  +mobile()
    position absolute
    top 0
    left 0
    height 100vh
    width 250px
    max-width 100%
    z-index 1
    transform translateX(-100%)

    &_open
      transform translateX(0%)
      box-shadow 0 0 3px #e8e8e8

  &_open
    width 250px

  &_theme-dark
    border-right 1px solid alpha($black-color, 90%)
    background-color alpha($black-color, 95%)

    &^[0]_open
      +mobile()
        box-shadow 0 0 3px alpha($black-color, 80%) !important

    & ^[0]__content
      background-color alpha($black-color, 80%)

  &__toggler
    position absolute
    top 0
    right 0
    padding rem(10)
    transition 200ms color ease-in-out
    color rgba(0, 0, 0, 0)
    +mobile()
      display none !important

    &_show
      color $black-color

  &__content
    width 250px
    background-color alpha($white-color, 80%)
    height 100%
