.Container
  margin rem(15) 0
  box-sizing border-box

  &_flex-grow
    display flex
    flex-grow 1

  &_flex
    display flex
    flex-wrap wrap

  &_size
    &_1
      max-width 600px

  &_top
    &_1
      margin-top rem(20)

    &_2
      margin-top rem(25)

  &_bottom
    &_1
      margin-bottom rem(20)

    &_2
      margin-bottom rem(25)

    &_3
      margin-bottom rem(30)

  &_left
    &_1
      margin-left rem(20)

    &_2
      margin-left rem(25)

  &_right
    &_1
      margin-right rem(20)

    &_2
      margin-right rem(25)
