.LayoutContent
  display flex
  flex-direction column
  height 100%

  &_theme-dark
    & ^[0]__header
      border-bottom 1px solid alpha($black-color, 90%)

  &__header
    padding rem(20)
    box-sizing border-box
    border-bottom 1px solid $gray-color

  &__container
    display flex
    flex-wrap wrap
    margin rem(20)
    flex-grow 1

  &__content
    display flex
    flex-direction column
    flex-grow 1
    margin-right 15px
    +tablet()
      margin-right 0
    +mobile()
      margin-right 0
