.Layout
  display flex
  height 100vh
  background-color $white-color
  position relative

  &_theme-dark
    color alpha($white-color, 90%)
    background-color alpha($black-color, 95%)

  &__main
    flex-grow 1
    transition 200ms filter ease
    &_blur
      filter blur(1px)
