.Layout
  display flex
  height 100vh
  background-color $white-color
  position relative

  &_theme-dark
    color $gray-color
    background-color lighten($black-color, 10%)

    & ^[0]__content
      background-color lighten($black-color, 5%)

  &__main
    display flex
    flex-direction column
    flex-grow 1

  &__content
    flex-grow 1
    background #f1f3f4