//font
$font-size = 16px

//transition
$duration = 250ms

//colors
$black-color = #6b6b6b
$white-color = #fff
$gray-color = #e8e8e8

//border
$default-border-radius = 5px

$colors = json('../config/colors.json', { hash: true })
for $name, $color in $colors {
	define('$' + $name + '-color', $color)
}
