.CardIconButton
  &_active
    background-color $success-color
    color $white-color

  &__card
    display flex
    align-items center
    position relative

  &__icon
    margin-right 15px
    width 50px
    height 50px

  &__text
    flex-grow 1
    font-weight bold
    font-size rem(15)

