.Card
  position relative
  width 100%
  background-color: $white-color;
  border-radius: rem(2);
  display flex
  flex-direction column

  &_theme-dark
    background-color $black-color

  &_active
    cursor pointer

  &__container
    padding rem(15)
