:local
  .colors
    display flex
    flex-wrap wrap

  .color
    width 200px
    height 200px
    margin 20px
    display flex
    align-content center
    justify-content center
    flex-direction column
    text-align center
    font-weight bold
    color #fff