:local
    .list
        margin 1rem 0
        background #eee
        border-radius 4px
        padding 1rem

        li
            font-style italic
            line-height 1.5
            font-weight bold
