:local
  .heading
    display block

  .type1
    heading($h1-heading)

  .type2
    heading2($h2-heading)

  .type3
    heading3($h3-heading)

  .type4
    heading4($h4-heading)

  .type5
    heading5($h5-heading)

  .type6
    heading6($h6-heading)
