.Heading
  display block

  &_type1
    heading($h1-heading)

  &_type2
    heading($h2-heading)

  &_type3
    heading($h3-heading)

  &_type4
    heading($h4-heading)

  &_type5
    heading($h5-heading)

  &_type6
    heading($h6-heading)
