:local
    .modal
        min-width 200px
        background $white-color
        z-index 9999
        position absolute
        top 15%
        left 50%
        box-shadow 0 2px 2px rgba(0,0,0,.3)
        transform translate(-50%, 0)
