.InfiniteScroll
    outline none
    display flex
    flex-direction column
    flex-grow 1
    height 100%
    position relative

    &__scroll
        outline none
        overflow-y scroll

    &_scrolling *
        pointer-events none
