$checkbox-width = 2rem
$checkbox-height = 1rem

:local
    .checkbox
        width $checkbox-width
        height $checkbox-height
        border: 1px solid #ccc
        border-radius 20px
        background-color #f7f7f7
        cursor pointer

        &:hover
            &:after
                background saturate($primary-color, 50%)

        &:after
            content ''
            display block
            width ($checkbox-width / 2)
            height 100%
            box-sizing border-box
            border-radius 100%
            background $primary-color
            transition $duration transform, $duration background

    .active
        &:after
            transform translateX(100%)

    .disabled
        cursor auto

        &:hover
            &:after
                background #d1d1d1

        &:after
            background #d1d1d1
