.checkbox
    background $white-color
    padding .7rem
    display inline-block
    border-radius 4px
    cursor pointer
    border 1px solid $gray-color

  &_active
    position relative
    text-align center

    &:after
      content '✓'
      display inline-block
      position absolute
      top 50%
      left 50%
      color $black-color
      transform translate(-50%, -50%)
      text-align center
      font-size 1.2rem

  .disabled
    cursor auto
    background $gray-color