.Column
  margin-right rem(15)
  padding-right rem(15)
  box-sizing border-box
  width 100%
  +below(700px)
    border-right none
    margin-right 0
    padding-right 0
    margin-bottom rem(15)
    padding-bottom rem(15)
