.Column
  margin-right rem(15)
  padding-right rem(15)
  border-right 1px solid $gray-color
  box-sizing border-box
  +mobile()
    border-right none
    margin-right 0
    padding-right 0
    width 100%
    border-bottom 1px solid $gray-color
    margin-bottom rem(15)
    padding-bottom rem(15)
