.Overlay
  position absolute
  top 0
  left 0
  width 100vw
  height 100vh
  background alpha($gray-color, 0)
  transition opacity 200ms ease
  z-index 1

  &_enter
    background alpha($gray-color, 40%)
