.overflow
  overflow hidden

.Overlay
  position absolute
  top 0
  left 0
  width 100vw
  height 100vh
  background-color alpha($black-color, 0)
  transition background-color 200ms ease
  z-index 1

  &_enter
    background-color alpha($black-color, .2)
