.IconButton
  display flex
  align-items center
  justify-content center

  &_position_left
    flex-direction: row-reverse;

    & ^[0]__text
      padding-left rem(8)

  &_position_right
    flex-direction: row

    & ^[0]__text
      padding-right rem(8)
